<table>
    <tr>
        <td>Action</td>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
    </tr>

    {{#data}}
        <tr>
            <td>
                <a class='update' href='update/{{id}}'> <img src='/img/lapis.png' style="width:1em; height: 1em;"></a>
                <a class='deletar' href='deletar/{{id}}'> <img src='/img/lixeira.png' style="width:1em; height: 1em;"></a>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{age}}</td>
        </tr>
    {{/data}}
</table>

<div class="container">    
    <div class="row">

        <div class="card-consultar-chamado">
            <div class="card">
                <div class="card-header">
                    Consulta de chamado
                </div>

                <div class="card-body">
                    {{#data}}
                    <div class="card mb-3 bg-light">
                        <div class="card-body">
                            <h5 class="card-title">{{id}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
                            <p class="card-text">{{age}}</p>

                        </div>
                    </div>
                    {{/data}}
                </div>
                
                {{!-- <div class="card-body">
                    
                    <? foreach($chamados as $chamado) { ?>
                    
                    <?php

                    $chamados_dados = explode('#', $chamado);

                    if($_SESSION['perfil_id'] == 2){

                        if($_SESSION['id'] != $chamados_dados[0]){
                        continue;
                        }
                    }

                    if(count($chamados_dados) < 3){
                        continue;
                    }

                    ?>

                    <div class="card mb-3 bg-light">
                    <div class="card-body">
                        <h5 class="card-title"><?=$chamados_dados[1]?></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><?=$chamados_dados[2]?></h6>
                        <p class="card-text"><?=$chamados_dados[3]?></p>

                    </div>
                    </div>

                    <? } ?>

                    <div class="row mt-5">
                    <div class="col-6">
                    <a class="btn btn-lg btn-warning btn-block" href="home.php">Voltar</a>
                    </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</div>